---
IndentWidth: 4
ColumnLimit: 80
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterReturnType: None
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
CompactNamespaces: false
ExperimentalAutoDetectBinPacking: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpacesInContainerLiterals: false
SpaceBeforeParens: true
AllowShortFunctionsOnASingleLine: Empty
---
