---
IndentWidth: 4
ColumnLimit: 80
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: true
BreakBeforeBraces: Attach
CompactNamespaces: false
---
